body {
    background-image: linear-gradient(#34c5db,#0f3238);
    background-size: cover;
    font-family: 'Abel', sans-serif;
    padding: 25px;
    font-size: 120%;
    color: #FFFFFF;
}

div#content {
    padding: 25px;
    background-color: #db8b6f;
    border: solid 5px #bfa196;
    height:auto;
    width: 30%;
    border-radius: 25px;

}
div#img{
  box-shadow: 4px 4px 6px white;
  height:auto;
  width:auto;
  float: right;
  object-fit: cover;
  filter: brightness(0.80);
  border-radius: 5px;
}

main#content{
  margin-top:20px;
  padding:20px;
  padding-left:10px;
  background-color: #db8b6f;
  height: auto;
  width: inherit;
  border: solid 5px #bfa196;
  border-radius: 25px;
}
h1, h2, h3 {
  font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Comfortaa', cursive;
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
}
img{
  width:300px;
  height: auto;
  float:right;
  border-radius: 5px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
img:hover{
  transform: rotate(10deg);
  transition: 0.5s;
}
div#img:hover{
  transform: rotate(10deg);
  transition: 0.5s;
}
