body {
    font-family: 'Abel', sans-serif;
    background-color: lavenderblush;
    padding: 25px;
    font-size: 120%;
}

header {
    padding: 25px;
    background-color: lavenderblush;
    border: solid 5px #333333;
    height: 80vh;
}
main#content{
  margin-top:200px;
  padding:25px;
  padding-left:40px;
  background-color: #FFF0F5;
  height: auto;
  width: 62%;
  border: solid 5px #FFC2D6;

}
h1, h2, h3 {
    font-family: 'Architects Daughter', cursive;
}
p{
  font-family: "courier new", bold:
}
#sidebar{
  display: inline-block;
  float: right;
  margin: 8px;
  padding: 3px;
  width: 30%;
}
img:hover{
  float: right;
  width: 600px
  height: auto;
  transition: all 0.75s
}
a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
