body {
    font-family: 'Abel', sans-serif;
    background-color: #c8dcf4;
    padding: 25px;
    font-size: 120%;
}

header {
    padding: 25px;
    background-color: #c8dcf4;
    border: solid 5px #4a8fe1;
    height: 9vh;
}
main#content{
  margin-top:20px;
  padding:5px;
  padding-left:2px;
  background-color: #c8dcf4;
  height: auto;
  width: 45%;
  border: solid 5px #4a8fe1;

}
h1, h2, h3 {
    font-family: 'Architects Daughter', cursive;
}
p{
  font-family: "courier new", bold:
}
#sidebar{
  display: inline-block;
  float: right;
  margin: 8px;
  padding: 3px;
  width: 30%;
}
img:hover{
  float: right;
  width: 600px
  height: auto;
  transition: all 0.75s
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
