nav#links{
  word-spacing: 25px
}
h1{
  font-size: 1000%;
  letter-spacing: 6px;
  margin-block-start: 0.20em;
  margin-block-end:0.20em;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding: 25px;
    font-size: 120%;

}
.content{
  color: #e3c16f
}
div#content {
    padding: 15px;
    background-color: white;
    border: solid 1px #ffffff;
    height: 80vh;
}
main#content{
  margin-top:200px;
  padding:25px;
  padding-left:40px;
  background-color: #ffffff;
  height: auto;
  width: 62%;
  border: solid 5px #ffffff;

}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
}
img{
  position: right;
  width: 150px;
  height: auto;
}
a {
    text-decoration: none;
    color: #bababa;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    color: black;
}
#text-center { 
text-align: center;
left: 50%

}
