nav#links{
  word-spacing: 25px
}
h1{
  font-size: 1000%;
  letter-spacing: 6px;
  margin-block-start: 0.20em;
  margin-block-end:0.20em;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding: 25px;
    font-size: 120%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #bababa;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    color: black;
}
.h{
  color: #e3c16f;
  letter-spacing: 5px;
  font-size: 1000%;
  margin-left: auto;
  margin-right: auto;
}
.e{
  color: #dd947d;
  letter-spacing: 5px;
  font-size: 1000%;
  margin-left: auto;
  margin-right: auto;
}
.l{
  color:#7dc1af;
  letter-spacing: 5px;
  font-size: 1000%;
  margin-left: auto;
  margin-right: auto;
}
.o{
  color:#cf716e ;
  letter-spacing:5px;
  font-size: 1000%;
  margin-left: auto;
  margin-right: auto;
}
.period{
  color:#dd947d ;
  letter-spacing: 5px;
  font-size: 1000%;
  margin-left: auto;
  margin-right: auto;
}
h1  {
text-align: center;
border:1px white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: auto;
}
div {
    margin-top: -57px;
    padding: 0px;
    padding-left: 0px;
    background-color: #ffffff;
    height: auto;
    width: 65%;
    border: solid 5px #ffffff;
  }
  main#content {
    margin-top: 150px;
    padding: 50px;
    padding-left: 200px;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    border: solid 5px #ffffff;
