body {
    font-family: 'Abel', sans-serif;
    background-color: lavenderblush;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: lavenderblush;
    border: solid 1px #333333;
    height: 80vh;
}

h1, h2, h3 {
    font-family: 'Architects Daughter', cursive;
}
p{
  font-family: "courier new", bold:
}
img:hover{
  float: right;
  width: 600px
  height: auto;
  transition: all 0.75s
}
a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
