body {
  background-image: linear-gradient(#a1dddb,#509d00,#8d2e32);
  background-repeat: no-repeat;
    font-family:'Dongle', sans-serif;;
    background-color: #a1dddb;
    padding: 25px;
    font-size: 200%;

}

header {
    padding: 25px;
    background-color: #a1dddb;
    border: solid 5px #74c6c3;
    height: 9vh;
}
.bg-light {
    background-color: #a1dddb!important;
}
main#content{
  margin-top:20px;
  padding:5px;
  padding-left:2px;
  background-color: #a1dddb;
  height: auto;
  width: 45%;
  border: solid 5px #74c6c3;

}
h1, h2, h3 {
    font-family:'Comfortaa', cursive;
font-family: 'Lobster', cursive;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Roboto', sans-serif;
    color:white;
}
p{
  font-family: "courier new", bold:
  color:white;
}
footer{
  margin-top:20px;
  padding:5px;
  padding-left:2px;
  background-color: #a1dddb;
  height: auto;
  width: 100%;
  border: solid 5px #74c6c3;
  color: white;
}
#sidebar{
  display: inline-block;
  float: right;
  margin: 8px;
  padding: 3px;
  width: 30%;
  border: solid 5px #74c6c3;
  background-color: #a1dddb;
}
.flex-container {
  display: flex;
  background-color: #a1dddb;
  border:solid 5px #74c6c3;
  width: auto;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  color:white;
  border: solid 5px #74c6c3;
}
div#img{
  border:solid 5px #74c6c3;
  background-color: #a1dddb;
  text-align: center;
  justify-content: space-between;
  margin: auto;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
